html {
    background-color: #161616;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:#ffffff;
}

.mark {
    text-decoration: underline;
}

.comment{
    color:#668135;
}

.generic{
    color:#bcffe8;
}

.class{
    color:#40e0d0;
}

.function{
    color:#ffff00;
}

.reservedKey{
    color:#178feb;
}

.includeKey{
    color:#a9a9a9;
}

.str{
    color:#ffa500;
}

.logic{
    color:#ae09ae;
}

.arg{
    color:#a9a9a9;
}

.variable {
    color:rgb(137, 198, 255);
}

.indent {
    margin-left: 15px;
}

.box {
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: rgba(100, 100, 100, 0.1);
}

h2 {
    margin-left: 10px;
    padding-left: 10px;
}

h1 {
    padding-left:10px;
}

.button:hover {
    text-decoration: underline;
}

.button {
    padding: 3px;
    margin: 5px;
    margin-top: 10px;
    text-align: center;
    border-radius: 13px;
    background-color: rgba(100, 100, 100, 0.2);
}