html {
    background-color: var(--background-color);
    color: var(--color);
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:#ffffff;
}

.comment{
    color:#668135;
}

.class{
    color:#40e0d0;
}

.function{
    color:#ffff00;
}

.reservedKey{
    color:#178feb;
}

.includeKey{
    color:#a9a9a9;
}

.str{
    color:#ffa500;
}

.logic{
    color:#ae09ae;
}

.param{
    color:#a9a9a9;
}

legend{
    color:#00ffff;
}

:root {
    --background-color: #161616;
    --color: #ffffff;
}