html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.comment{
    color:rgb(102, 129, 53);
}

.class{
    color:rgb(64, 224, 208);
}

.function{
    color:rgb(255, 255, 0);
}

.reservedKey{
    color:rgb(23, 143, 235);
}

.includeKey{
    color:rgb(169, 169, 169);
}

.str{
    color:rgb(255, 165, 0);
}

.logic{
    color:rgb(174, 9, 174);
}

.param{
    color:rgb(169, 169, 169);
}

legend{
    color:rgb(0, 255, 255);
}